# Vercel
.vercel

# Secretos y variables de entorno (NUNCA subir)
.env
.env.*
!.env.example

# Dependencias
node_modules/

# Sistema operativo / editores
Thumbs.db
Desktop.ini
.DS_Store
*.log
.idea/
.vscode/

.env*
